body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/repeating_crystal_pattern__free__by_erinptah-d92qhue.png);
    background-repeat: repeat;
}